.transaction-history {
  table-layout: fixed;
  width: 500px;
  border-collapse: collapse;
  border: 1px solid black;
}

thead {
  background-color: lightblue;
}

td,
th {
  padding: 10px;
  border: 1px solid white;
}

tbody > tr > td {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: lightcyan;
}
